@import '~/advanced-css-reset/dist/reset.min.css';

// Override dark mode color scheme that causes dark inputs
:root {
  color-scheme: light;
}

// Reset removes borders, restore for form elements
input,
textarea,
select {
  border: 1px solid #ccc;
}
